* {
    padding: 0;
    margin: 0;
}

#container {
    width: 100%;
    height: auto;
}

#movie_name {
    width: 100%;
    height: 70px;
    background-color: #1f2432;
    color: white;
    display: flex;
}

#movie_name>i {
    font-size: 44px;
    width: 2%;
    padding: 8px;
}

#movie_name>div {
    width: 94%;
}

#movie_name>div>div {
    display: flex;
    padding-top: 10px;
}

#movie_name>div>div>p:nth-child(2) {
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 5px;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
}

#movie_name>div>p {
    font-size: 13px;
}

#movie_name>p {
    width: 4%;
    padding: 8px;
    padding-top: 20px;
    text-align: center;
}


#main-body {
    width: 98.5%;
    height: auto;
    background-color: #f2f2f2;
    padding: 10px;
}

#main-body>div {
    width: 86%;
    /* border: 2px solid red; */
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#mainbody-left {
    width: 68%;
    height: auto;
   
}

#mainbody-left>div:nth-child(1) {
    width: 100%;
    height: 90px;
   
}

#mainbody-left>div:nth-child(2) {
    border: 1px solid rgb(228, 227, 227);
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: white;
}

#snacks-top {
    width: 100%;
    height: 130px;
}

#snacks-top>p:nth-child(1) {
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin: 10px 0px;
}

#snacks-top>p:nth-child(2) {
    width: 100%;
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

#snacks-top>div {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#snacks-top>div>p {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 2px 11px;
    font-size: 10px;
}

#snacks{
    width: 100%;
    height: 580px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}
#snacks>div{
    /* border: 2px solid red; */
    width: 45%;
    height: 150px;
    margin-left: 25px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 10px 10px 3px #e5e5e5;
}
#snacks>div>div:nth-child(1){
    width: 30%;
    height: 110px;
    /* border: 2px solid black; */
}
#snacks>div>div:nth-child(1)>div:nth-child(1){
    width: 10%;
    height: 10px;
    border: 1px solid green;
    margin-top: 20px;
    margin-left: 10px;
}
#snacks>div>div:nth-child(1)>div:nth-child(2){
    width: 90%;
    margin: auto;
    height: 80%;
    margin-top: 10px;
    /* border: 1px solid green; */
}

#snacks>div>div:nth-child(2){
    width: 45%;
    height: 150px;
    /* border: 2px solid red; */
    margin-left: 10px;
}
#snacks>div>div:nth-child(2)>p:nth-child(1){
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}
#snacks>div>div:nth-child(2)>p:nth-child(2){
    font-size: 13px;
}
#snacks>div>div:nth-child(2)>p:nth-child(3){
    font-weight: bold;
    margin-top: 70px;
}

#snacks>div>div:nth-child(3){
    width: 20%;
    height: 150px;
    /* border: 2px solid red; */
}
#snacks>div>div:nth-child(3)>button{
    margin-top: 100px;
    border: 2px solid #db3559;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    color: #db3559;
}

#note{
    width: 100%;
    height: auto;
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}
#note>p:nth-child(1){
    margin-top: 50px;
    margin-left: 20px;
}
#note>ol{
    padding-left: 40px;
}
#note>p:nth-child(3){
    margin-top: 10px;
    margin-left: 20px;
}


#mainbody-right{
    width: 30%;
    height: 760px;
}
#booking_summary{
    width: 100%;
    height: auto;
    background-color: white;
}
#booking_summary>p:nth-child(1){
    width: 88%;
    margin: auto;
    padding-top: 25px;
    color:#db3559;
    
}
#booking_summary>div:nth-child(2){
    width: 88%;
    height: 150px;
    margin: auto;
}
#booking_summary>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    height: 40px;
    display: flex;
    margin-top: 30px;
}
#booking_summary>div:nth-child(2)>div:nth-child(1)>div{
    width: 80%;
    height: 40px;
}
#booking_summary>div:nth-child(2)>div:nth-child(1)>div>p:nth-child(1){
    width: 100%;

}
#booking_summary>div:nth-child(2)>div:nth-child(1)>div>p:nth-child(2){
    width: 90%;
    color: gray;
    font-size: 12px;
    padding-left: 20px;
}
#booking_summary>div:nth-child(2)>div:nth-child(1)>p{
    width: 20%;
    height: 40px;
    
}
#booking_summary>div:nth-child(2)>div:nth-child(2){
    border-bottom: 1px solid rgb(197, 197, 197);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#booking_summary>div:nth-child(2)>div:nth-child(2)>i{
    border: 1px solid gray;
    border-radius: 50%;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
}
#booking_summary>div:nth-child(2)>div:nth-child(2)>p:nth-child(2){
    width: 75%;
    font-size: 15px;
}
#booking_summary>div:nth-child(2)>div:nth-child(2)>p:nth-child(3){
    width: 19%;
}
#booking_summary>div:nth-child(2)>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#booking_summary>div:nth-child(3){
    height: 25px;
    width: 100%;
    position: relative;
    margin:7px 0px;
}
#booking_summary>div:nth-child(3)>div:nth-child(1){
    border: 2px solid #f2f2f2;
    height: 20px;
    width: 5%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -8px;
    background-color: #f2f2f2;
}
#booking_summary>div:nth-child(3)>div:nth-child(2){
    border: 2px solid #f2f2f2;
    height: 20px;
    width: 5%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -10px;
    background-color: #f2f2f2;
}

#booking_summary>div:nth-child(4){
    width: 85%;
    height: 80px;
    margin: auto;
    background-color: #f2f2f2;
    display: flex;
    padding: 20px 4px;
}
#booking_summary>div:nth-child(4)>div:nth-child(1){
    width: 12%;
    height: 30px;
}
#booking_summary>div:nth-child(4)>div:nth-child(2){
    width: 70%;
    height: 80px;
}
#booking_summary>div:nth-child(4)>div:nth-child(2)>p:nth-child(1){
    font-size: 17px;
    margin-bottom: 5px;
}
#booking_summary>div:nth-child(4)>div:nth-child(2)>p:nth-child(2){
    font-size: 12px;
    color: gray;
    margin-bottom:5px;
}
#booking_summary>div:nth-child(4)>div:nth-child(2)>p:nth-child(3){
    border-bottom: 2px dotted gray;
    font-size: 10px;
    color: gray;
    width: 50px;
}
#booking_summary>div:nth-child(4)>div:nth-child(3){
    width: 17%;
    height: 80px;
}
#booking_summary>div:nth-child(4)>div:nth-child(3)>p:nth-child(1){
    font-size: 17px;
    text-align: center;
}
#booking_summary>div:nth-child(4)>div:nth-child(3)>p:nth-child(2){
    font-size: 14px;
    color: #db3559;
    text-align: center;
}
#booking_summary>p:nth-child(5){
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
    color: gray;
}

#booking_summary>div:nth-child(6){
    height: 28px;
    width: 91%;
    margin-top: 40px;
    background-color: #fffddc;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#ticket-type{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}
#ticket-type>p:nth-child(1){
    margin: 10px 0px;
    text-align: center;
}
#ticket-type>div{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.m-ticket{
    width: 47%;
    height: 60px;
    display: flex;
    background-color: white;
}
.m-ticket>div:nth-child(1){
    border: 1px solid rgb(199, 199, 199);
    border-right: none;
    width: 25%;
    height: 60px;
}
.m-ticket>div:nth-child(1)>div{
    width: 30%;
    height: 15px;
    border-radius: 50%;
    border: 1px solid red;
    padding: 2px;
    margin-top: 15px;
    margin-left: 10px;
}
.m-ticket>div:nth-child(1)>div>button{
    width: 100%;
    height: 15px;
    border-radius: 50%;
    background-color: #db3559;
    border: none;
    outline: none;
}
.m-ticket>div:nth-child(2){
    border: 1px solid rgb(199, 199, 199);
    width: 75%;
    height: 60px;
    display: flex;
}
.m-ticket>div:nth-child(2)>div{
    width: 25%;
    height: 30px;
    margin-top: 15px;
}
.m-ticket>div:nth-child(2)>p{
    width: 75%;
    height: 26px;
    margin-top: 15px;
    font-size: 10px;
    color: #db3559;
    padding-left: 10px;
    padding-top: 4px;
}
#ticket-type>p:nth-child(3){
    margin: 14px 0px;
    text-align: center;
    font-size: 12px;
}
#ticket-type>div:nth-child(4){
    height: 40px;
}
#ticket-type>div:nth-child(4)>div{
    border: 1px solid gray;
    height: 13px;
    width: 13px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 10px;
}
#ticket-type>div:nth-child(4)>p{
    font-size: 14px;
}
#ticket-type>button:nth-child(5){
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #db3559;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    padding: 13px;
}