* {
    padding: 0;
    margin: 0;
}
#myForm1{
    width: 100%;
    position: fixed;
    top: -10px;
    bottom: 0;
    left: 0px;
    display: none;
}
#myForm{
    width: 100%;
    position: fixed;
    top: -10px;
    bottom: 0;
    left: 0px;
    display: none;
}
form {
    height: 600px;
    width: 30%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 100px;
    background-color:white;
}

#top-box{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#top-box>h3{
    width: 90%;
    text-align: center;
    margin-left: 60px;
}

#closebutton {
    width: 10%;
}

#closebutton>button {
    font-size: 25px;
    outline: none;
    border: none;
    background-color: white;
}
.social-media{
    margin-top: 40px;
    /* border: 2px solid red; */
}
.social-media>button{
    margin: auto;
    width: 80%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media>button:hover{
    background-color: rgb(191, 191, 191);
    border: none;
}
.social-media>button>img{
    height: 20px;
    width: 20px;
    margin-left: -80px;
    margin-right: 80px;
}

.social-media>input{
    margin:auto;
    width: 80%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-bottom: 1px solid rgb(151, 151, 151);
    margin-bottom: 20px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:900px) {
    form {
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    form {
        width: 80%;
    }
}